   .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }

  /* for handling error 
  .error{
  width:92%;
  margin:0px auto;
  padding:10px;
  border:1px solid #a94442;
  color:#a94442;
  background:#f2dede;
  border-radius:5px;
  text-align:left;
}

*/
.menuBar{
  background: white;
  box-shadow: 1px 1px 1px;
}